header{
    background-image:  url("images/f8d0e8a9e808996549a9bba5d6b64422-paris-skyline-doodle-sticker.png"), url("images/pretty-arrow-png-3-Transparent-Images.png");
    background-size: 25% 100%, 45% 100%;
    background-position:  left, center;
    background-repeat: no-repeat, no-repeat;
    background-color: rgb(54, 64, 78);
    width: 100%;
    height: 60px;
    text-align: right;
    line-height:60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
}

header>a>img{
    height: 60px;
    width: 60px;
    position:fixed;
    right: 10px;
    top: 10px;;
}
h2{
color: white;
font-family: 'Indie Flower', cursive;
font-size: 300%;
padding: 0;
text-decoration-line:underline;
text-decoration-style: wavy;
padding-top: 10px;
}
.containerflex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 18%;
}
.card {
width:300px;
height: 400px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color: white;
color: black;
justify-content: space-between;
margin: 10px;
}
.card:hover {
box-shadow: 0 150px 150px 0 rgba(0,0,0,0.2);
}
.container {
padding: 2px 16px;
}
main{
margin:30px;
}
img{
width: 300px;
height: 200px;
}
ul.meniu{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}
body>nav{
    height: 245px;
    background-image: url(images/aD00NDAmaGFzaD00NDIyYzQ0NTRkZGIwNDkyNzU3ZDljMjgwNTg2NGMxZQ==.thumb.jpg);
    background-size: 100%;
}
ul.meniu li{
    flex-grow: 1;
    background-color: rgb(58, 226, 190);
    border: 1px solid white;
    height: 30px;
    line-height: 200%;
}
ul.submeniu{
    visibility: hidden;
}
ul.meniu>li:hover>ul.submeniu{
    visibility: visible;
    position: relative;
    z-index:10;
}

nav ul{
    list-style-type: none;
}

nav a{
    color: black;
    transition: color 2s;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
  nav ul li:hover{
    background-color: rgb(54, 64, 78);
    color: white;
  }
  
  nav a:hover{
    background-color: rgb(54, 64, 78);
    color: white;
  }

.container >p{
    font-size: 13px;
}




a { text-decoration: none;
    color:azure }
    
    
    
    
    .footer-dark {
      padding:10px 0;
      color:#f0f9ff;
      background-color:rgb(54, 64, 78);
    }
    
    .footer-dark h3 {
      margin-top:12px;
      margin-bottom:1px;
      font-weight:bold;
      text-decoration: dotted;
      font-size:15px;
    }
    
    .footer-dark ul {
      padding:0;
      list-style:none;
      line-height:1.6;
      font-size:12px;
      margin-bottom:0;
    }
    
    .footer-dark ul a {
      text-decoration:none;
      opacity:0.5;
    }
    
    .footer-dark ul a:hover {
      opacity:0.8;
    }
    
    
    
    .footer-dark .item.text {
      margin-bottom:0px;
    }
    
    
    .item4>a {
      align-items: center;
      opacity: 1;
    }
    
    .item4>a:hover {
      opacity:0.7;
    }
    
    .footer-dark .copyright {
      text-align:center;
      padding-top:24px;
      opacity:0.3;
      font-size:20px;
      margin-bottom:0;
    }
    p{
        font-size: 85%;
    }
    .row
    {
      display: flex;
    flex-direction: row;
    }
    .row >div
    {
    margin-left: 8%;
    }
    
    
    .item4 >a:nth-of-type(1)>img
    {
      width: 30px;
      margin-top: 3px;
      height: 30px;
    }
    .item4 >a:nth-of-type(2)>img
    {
      width: 30px;
      margin-top: 3px;
      height: 30px;
    }
    .item4 >a:nth-of-type(3)>img
    {
      width: 30px;
      margin-top: 3px;
      height: 30px;
    }
    .item4 >a:nth-of-type(4)>img
    {
      width: 30px;
      margin-top: 3px;
      height: 30px;
    }